<div data-role="page" data-url="<%= Rho::Application.startURI %>/">

    
  <div data-role="header" data-position="inline">
    <h1>Mobiveil Tasks</h1>
    
  </div>

  <div data-role="content">
    <ul data-role="listview">
      	  <li><a href="<%= url_for :controller => :Rotation, :action => :login %>" data-role="button">Login with Facebook and call web-service</a></li>
	      <li><a href="<%= url_for :controller => :Rotation, :action => :index %>" data-role="button">Capabilities - Push and Accelerometer</a></li>
    </ul>
  </div>

</div>
